%% -*- mode: erlang -*-
{ erl_opts
, [ debug_info
  , strict_validation
  , warn_export_vars
  , warn_exported_vars
  , warn_missing_spec
  , warnings_as_errors
  ]
}.

{project_plugins, [tqformat]}.

{ tqformat
, [ { files
    , ["apps/**/*.{hrl,erl,app.src}", "rebar.config", "config/*.config", "config/*/*.config"]
    }
  , {width, 96}
  ]
}.

{deps, []}.
